<html>
    <head>
        <title>Kristina's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 25.05.2019, 15:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Software testers play a critical role in application development. They are quality assurance experts who put applications through the wringer to root out bugs, poor performance and funky interface issues. To do this they run all kinds of tests – stress, performance, functional, scalability, user acceptance – at different stages of the software life cycle. Because software testing is so important to the quality and usability of the final product, testers are brought in at the planning and design stage, and often remain involved throughout post-release support.</p>
        </div>

        <div>
            <p>published: 25.05.2019, 16:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Most testers work on teams that develop vendor software. Today, a lot of software is pushed through DevOps (development + operations) teams, where development, testing and delivery are on a continuous loop using the Agile, Lean or Scrum frameworks.</p>
        </div>
    </body>
</html>